.navbar { margin: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.navbar.navbar-inverse.center, .dropdown-menu {background-color: rgba(0, 0, 0, 0.75);}
.navbar-brand { font-family: Indie Flower; }
.navbar .container-fluid  {
    text-align: center;
}
.navbar .container-fluid .nav{
    float: none;
    display:inline-block;
    vertical-align: middle;
}
.dropdown-item a:hover,
.dropdown-item a:focus {
    background-color: rgba(255,255,255,0.1) !important; 
    color: rgb(255,255,255) !important;
}
.dropdown-item a {
    color:rgba(255,255,255,0.75) !important;
}

.img-margin-default {
	margin-top: 25px;
	margin-bottom: 25px;
}

.headings-default-color{
	color: rgba(0, 0, 0, 0.75);
}

.carousel-caption{
	background-color: rgba(255,255,255,0.33);
	border-radius:100px;
}

.sponzori-img img:hover{
	border: 1px solid rgba(0,0,0,0.75);
	opacity: 0.7;
}

table.table td.text-right { font-weight: bold; }