				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
									<p class="font-cookie font-lg text-bright"><i>International<span class="text-info">FF</span></i></p>
									<p class="font-times-new-roman font-xs text-bright"><b>School of Electrical Engeneering © 2018</b></p>
									<p class="font-times-new-roman font-xs text-bright">
										<b>
											<ul class="font-times-new-roman font-xs text-bright" type="none">
												<li>Copyright:</li>
												<li>&emsp;Vladimir Sivčev</li>
												<li>&emsp;Predrag Mitrović</li>
											</ul>
										</b>
									</p>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="row margin-top-md">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
									<i class="fa fa-map-marker icon-square-md"></i>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
									<p class="no-margin font-times-new-roman font-xs text-bright">
										<b>Bulevar kralja Aleksandra 73</b>
									</p>
									<p class="no-margin font-times-new-roman font-xs text-bright">
										<b>Belgrade, Republic of Serbia</b>
									</p>
								</div>
							</div>
							<div class="row margin-top-md">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
									<i class="fa fa-phone icon-square-md"></i>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
									<p class="font-times-new-roman font-sm text-bright">
										<b>+381 11/32-26-992</b>
									</p>
								</div>
							</div>
							<div class="row margin-top-md">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
									<i class="fa fa-envelope icon-square-md"></i>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
									<p class="font-times-new-roman font-sm text-bright">
										<b><a class="hover-text-decor-none text-bright" href="mailto:#">iff@gmail.com</a></b>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-3 col-md-2 col-sm-3 col-xs-2"></div>
								<div class="col-lg-6 col-md-8 col-sm-6 col-xs-8">
									<center>
									<div class="row margin-top-md">
									<img class="img-responsive img-rounded" src="res/developers.jpg" alt="IcyTower" width="460" height="350"></img>										
									</div>
									<div class="row margin-top-sm">
										<a href="#"><i class="fa fa-facebook icon-oval-md"></i></a>
										<a href="#"><i class="fa fa-twitter icon-oval-md"></i></a>
										<a href="#"><i class="fa fa-linkedin icon-oval-md"></i></a>
										<a href="#"><i class="fa fa-github icon-oval-md"></i></a>
									</div>
									</center>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3 col-xs-2"></div>
							</div>
						</div>
					</div>
					<div class="row hidden-lg hidden-md" style="height: 10px;"></div>
				</div>