					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
								<a href="index.html"><img src="res/logo.png" class="img-circle" height="40px" alt="logo"/></a>
							</div>
							<div class="col-lg-7 col-md-8 col-sm-6 col-xs-6 text-center"> 
							</div>
							<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
								<a href = "index.html"><img src="res/serbian.png" style="width:50px;height:25px;padding-top:3px;"></img></a> 
							</div>
							<div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
						</div>
					</div>