				<script type="text/javascript">
					$("div#navbar ul.nav li.dropdown").hover
					(
						function() { $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeIn(500); },
						function() { $(this).find(".dropdown-menu").stop(true, true).delay(200).fadeOut(500); }
					);
				</script>
				
				<div id="navbar" class="container-fluid">
					<ul class="nav navbar-nav navbar-center">
						<li><a href="index.html"><strong>Početna</strong></a></li>
						<li class="dropdown dropdown-item">
							<a class="dropdown-toggle" aria-expanded="false" href="kratkaistorija.html"><strong>O festivalu <b class="caret"></b></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-item"><a href="ziri.html"><strong>Žiri</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="nagrade.html"><strong>Nagrade</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="sponzori.html"><strong>Sponzori</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="kontakt.html"><strong>Kontakt</strong></a></li>
							</ul>
						</li>
						<li class="dropdown dropdown-item">
							<a class="dropdown-toggle" aria-expanded="false" href="filmovi.html"><strong>Program <b class="caret"></b></strong></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-item"><a href="mestaprojekcija.html"><strong>Mesta projekcija</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="prodajnamesta.html"><strong>Prodajna mesta</strong></a></li>
							</ul>
						</li>
						<li><a href="glumci.html"><strong>Glumci</strong></a></li>
						<li><a href="vesti.html"><strong>Vesti</strong></a></li>
						<li><a href="mojifilmovi.html"><strong>Moji filmovi</strong></a></li>
					</ul>
				</div>