				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-center">
						<li><a href="index.html"><strong>Početna</strong></a></li>
						<li class="dropdown dropdown-item"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" ><strong>O festivalu</strong></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Žiri</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Nagrade</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Sponzori</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Kontakt</strong></a></li>
							</ul>
						</li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><strong>Program</strong></a>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Filmovi</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Mesta projekcija</strong></a></li>
								<li role="presentation" class="dropdown-item"><a href="#"><strong>Prodajna mesta</strong></a></li>
							</ul>
						</li>
						<li><a href="library.html"><strong>Glumci</strong></a></li>
						<li><a href="about.html"><strong>Vesti</strong></a></li>
						<li><a href="about.html"><strong>Moji filmovi</strong></a></li>
					</ul>
				</div>